@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Candidate Expenses</h1>
    <p class="lead"><i>Candidate Expenses</i> is a ASP.NET MVC application, which calculates candidate's rate and working unit from a single input value.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Expense Form</h2>
    </div>
</div>