@model CandidateExpenses.Models.InputModel
@{
    ViewBag.Title = "Candidate Expenses";
}

<div class="jumbotron">
    <h1>Candidate Expenses</h1>
    <p class="lead"><i>Candidate Expenses</i> is a ASP.NET MVC application, which calculates candidate's rate and working unit from a single input value.</p>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>
            Expense Form
            <br />
            <small>Please enter value in £ between 0.01 and 9998.00</small>
        </h2>
        <br />
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            @Html.ValidationSummary(false)
            <p>
                @Html.LabelFor(m => m.InputValue)
                <br />
                @Html.EditorFor(m => m.InputValue)
            </p>
            <hr />
            <p>
                <button type="submit" name="Calculate" class="btn btn-primary btn-lg">Calculate</button>
            </p>
        }
    </div>
</div>